*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.page {
  width: 100vw;
  display: flex;
  position: relative;
  height: 100vh;
  background-color: white;
}
.mid {
  height: 200px;
  width: 150px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid button {
  margin: 5px;
  padding: 5px;
}

#rolled {
  margin: 2px;
  padding: 2px;
  border: 1px solid black;
}

.left{

  height: 200px;
  width: 500px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  width: 150px;
  text-align: center;
  margin-right: 200px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.right img {
  margin-top: 300px;
}

.Card {
  width: 150px;
  height: 270px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Card p{
  font-size: 4em;
}

.Card h3 {
  margin: 12px 0;
}

#cube {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}

.talon{
  display: flex;
  gap: 10px;
  justify-content: center;
}